h1{
    background-color: skyblue;
    color: grey;
    padding: 10px;
}
summary{
    color: black;
    background-color: grey;
    padding: 8px;
}
#actor{
    color: orange;
    background-color: grey;
    font-size: large;
    padding: 6px;
}
#quote{
    color: pink;
    background-color: grey;
    padding: 5px;
}
aside{
    color: plum;
    background-color: grey;
    padding: 4px;
}
footer{
    color: yellow;
    background-color: grey;
    padding: 3px;
}


/* Your CSS Code here. */